<div id="<%= container_name %>">
  <p id="<%= container_name %>_async_loading">
    <%= capture(&block) %>
  </p>
</div>

<% content_for :render_async do %>
  <script type="text/javascript">
    (function($){
      $.ajax({
          url: "<%= path %>",
        })
        .done(function(response, status) {
          $("#<%= container_name %>").html(response);
        })
        .fail(function(response, status) {
          $("#<%= container_name %>").html(response);
        })
        .always(function(response, status) {
          $("#<%= container_name %>_async_loading").hide();
        });
    }(jQuery));
  </script>
<% end %>
